<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#0D1B2A] min-h-screen flex items-center justify-center">

    <section class="bg-[#001721] flex rounded-2xl shadow-lg max-w-3xl p-8 items-center w-full">
        <div class="md:w-1/2 px-6">
            <h2 class="font-bold text-2xl text-white"> Login</h2>
            <p class="text-sm mt-2 text-gray-500">Discover, Create, and Network</p>

            <form method="POST" action="{{ url_for('login') }}" class="flex flex-col gap-4 mt-6">
                {{ form.hidden_tag() }}
                
                {{ form.username.label(class="text-sm font-medium text-gray-500") }}
                {{ form.username(class="p-2 rounded-xl border bg-white focus:outline-none focus:ring-2 focus:ring-blue-300") }}
                
                {{ form.password.label(class="text-sm font-medium text-gray-500") }}
                <div class="relative">
                    {{ form.password(class="p-2 rounded-xl border w-full bg-white pr-10 focus:outline-none focus:ring-2 focus:ring-blue-300") }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="absolute top-1/2 right-3 transform -translate-y-1/2" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5"/>
                    </svg>
                </div>

                {{ form.submit(class="text-white bg-[#d9561d] border py-2 rounded-xl mt-4 text-sm font-medium hover:scale-105 duration-300") }}
            </form>
            
            <div class="mt-8 grid grid-cols-3 items-center text-gray-500">
                <hr class="border-gray-400">
                <p class="text-center text-sm">OR</p>
                <hr class="border-gray-400">
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="text-red-600 text-sm mt-2">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <button class="bg-[#d9561d] text-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm hover:scale-105 duration-300">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626..."/>
                </svg>
                Login with Google
            </button>

            <div class="mt-6 text-center">
                <p class="text-xs text-gray-500">Don't have an account?</p>
                <a href="{{ url_for('register') }}">
                        <button class="text-white mt-2 text-xs py-1 px-4 bg-[#e06833] border rounded-xl hover:scale-110 duration-300">
                        Create Account
                    </button>
                </a>
                <div class="md:block hidden w-1/2">
                    <img class="rounded-2x-1" src="webwork.png" alt="">  
                </div>
            </div>
        </div>
    </section>

</body>
</html>